<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PracticeTest">
	<test name="TwentysixSeptember">
		<groups>
			<run>
				<include name="polymorphism"></include>
			</run>
		</groups>
		<classes>					
			<class name="Practice.TwentysixSeptember" />
		</classes>
	</test>
</suite>
